<!DOCTYPE html>           <!-- We are working in HTML 5 -->

<html lang="en">    <!-- When you open something always remember to close it -->


<head>          <!--   -->
    <meta charset="UTF-8">          <!--   -->
    <title>Cybertek</title>
    <!-- Container for metadata it is not displayed
    Titles, Styles, Links, Scripts, Meta and other
    -->

    <meta name="Sam">

</head>
<body>
<!--  ADD Comment  -->
<!-- Whatever you see in UI comes from body  -->
<!-- To see all changes on browser as you modify IJ  :
add chrome extension  : JetBrains Toolbox Extension
right click index.html and Debug instead of Run
-->

...............................................................................Welcome to Java Developer Course !!!.....................
<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>

<h1 align="center" style="color: blue" >SAM is studying Spring</h1>
<h1 align="center" style="color: red" >  :  )  </h1>

<img src="springboot.png" alt="Spring Boot Image">


<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://www.amazon.com"></a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>
    </tr>
    <tr>
        <td>IOC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
</table>
<br>
<!- Forms -->
<label>User Name : </label>
<input type="text" name="username"><br>
<br>

<label> Password     :</label>
<input type="password"><br>
<br>
<label> Enter your comments : </label>
<textarea name="comments"></textarea><br>
<br>

<label>Please select your favorite subject :</label><br>
<input type="radio" name="Spring" value="IoC" checked="checked"> IoC
<input type="radio" name="Spring" value="DI" checked="checked"> DI
<input type="radio" name="Spring" value="MVC" checked="checked"> MVC

<br>
<label>Please select your company : </label> <br>
<input type="checkbox" name="company" value="Bank Of America" >BOA
<input type="checkbox" name="company" value="Zero Bank Of America" >ZB
<input type="checkbox" name="company" value="south West Airlines" > SWA

<br><br>

<label>Sam Please Choose a name : </label> <br>
<select name="cars">

    <option value="esma">Esma</option>
    <option value="bengu">Bengu</option>
    <option value="hakan">Hakan</option>
</select>

<br>

<form action="#" method="get">
    First Name : <input type="text" name="first_name">
    <br><br>
    Last  Name : <input type="text" name="last_name">

</form>

<div>
    <h3>This is Java Developer Course</h3>
    <ul>
        <li>Spring Framework </li>
        <li>Security</li>
        <li>Unit Testing</li>

    </ul>

</div>


</body>
</html>